#!/usr/bin/make -f
# -*- makefile -*-
%:
	dh $@


ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
DEB_CFLAGS_MAINT_APPEND += -DMAEMOSEC_DEBUG_ENABLED
DEB_CXXFLAGS_MAINT_APPEND += -DMAEMOSEC_DEBUG_ENABLED
endif
